body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator {
    width: 400px;
    max-width: 90vw;
    margin: 50px auto;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#explosion-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;              /* Full screen width */
    height: 100vh;             /* Full screen height */
    display: none;             /* Hidden by default */
    align-items: center;       /* Vertically center */
    justify-content: center;   /* Horizontally center */
    background: transparent;
    z-index: 999;
    pointer-events: none;      /* So it doesn't block clicks */
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 0%);
    color:white;
    font-size: 3rem;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 60%);
}

.operator-btn{
    background-color: hsl(32, 100%, 50%);
}

.operator-btn:hover{
    background-color: hsl(32, 100%, 60%);
}

.operator-btn:hover{
    background-color: hsl(32, 100%, 90%);
}

@media (max-width: 600px) {
    #calculator {
        width: 90vw;
        padding: 15px;
    }

    #display {
        font-size: 22px;
        height: 40px;
    }

    #keys {
        grid-template-columns: repeat(4, 1fr); /* still 4 columns */
        gap: 8px;
        padding: 15px;
    }

    #keys button {
        font-size: 18px;
        padding: 10px;
    }

    #explosion-img {
        width: 200px;
    }
}

